<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organization Profile</title>
</head>
<body>
    <div class="main">
        <h1>University of Westminster</h1>
        <form action="">
            <label for="code">Create Certifications</label>
            <textarea name="certification" id="certification" required>Enter the details of the certification</textarea>
            <button type="submit">Upload Certifications to the smart contract</button>
        </form>
    </div>
</body>
</html>