<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <style>
        .main{
            width: fit-content;

            position: relative;
            margin: 0 auto;
        }

    </style>
</head>
<body>
    <div class="main">
        <h1>Welcome back, Sam</h1>
        <form action="/userProfile" method="POST">
            <label for="code">Enter your certification code:</label>
            <input id="code" type="text">
            <button type="submit">Get certification</button>
        </form>
    </div>
</body>
</html>